<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <div *ngIf="auth.isLoggedIn()"><a class="navbar-brand">hello, {{ setUsername() }}</a></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li *ngIf="!auth.isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="!auth.isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']">Register</a>
          </li>
          <li *ngIf="auth.isLoggedIn() && isUserAdmin()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/user-panel']">User Panel</a>
          </li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/profile']">Profile</a>
          </li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/station']">Stations</a>
          </li>
          <li *ngIf="auth.isLoggedIn() && isUserAdmin()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/station-panel']">Station Panel</a>
          </li>
          <li *ngIf="auth.isLoggedIn() && isUserAdmin()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/add-rcs-panel']">Add RCS panel</a>
          </li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a (click)="logout()" class="nav-link text-dark" [routerLink]="['/login']">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>