<div class="container">
    <div class="register-container">
        <kendo-card [width]="'300px'" class="k-vbox bg-light-dark">
            <kendo-card-header class="text-center">
                <h3>Register</h3>
            </kendo-card-header>
            <kendo-card-body>
                <div class="form-container">
                    <form #templateForm="ngForm" (ngSubmit)="onSubmit(templateForm)">
                        <div class="input-container">
                                <div class="input-form">
                                    <kendo-floatinglabel text="Enter Username">
                                        <input
                                            required
                                            minlength="5"
                                            ngModel
                                            #usernameInput="ngModel"
                                            type="text" 
                                            name="username"
                                        />
                                        <div *ngIf="usernameInput.touched && !usernameInput.valid">
                                            <kendo-formerror *ngIf="usernameInput.errors.required">Username is requred.</kendo-formerror>
                                            <kendo-formerror *ngIf="usernameInput.errors.minlength">Username must be more than 5 characters.</kendo-formerror>
                                        </div>
                                    </kendo-floatinglabel>
                                </div>
                                <div class="input-form">
                                    <kendo-floatinglabel text="Enter Name">
                                        <input
                                            required
                                            ngModel
                                            #nameInput="ngModel"
                                            type="text" 
                                            name="name"
                                        />
                                        <div *ngIf="nameInput.touched && !nameInput.valid">
                                            <kendo-formerror *ngIf="nameInput.errors.required">Name is requred.</kendo-formerror>
                                        </div>
                                    </kendo-floatinglabel>
                                </div>
                            <div class="input-form">
                                <kendo-floatinglabel text="Enter Email">
                                    <input 
                                        required
                                        ngModel
                                        #emailInput="ngModel"
                                        type="email" 
                                        name="email" 
                                        [email]="true" 
                                    />
                                        <div *ngIf="emailInput.touched && !emailInput.valid">
                                            <kendo-formerror *ngIf="emailInput.errors.required">Email is requred.</kendo-formerror>
                                            <kendo-formerror *ngIf="emailInput.errors.email">Invalid email address.</kendo-formerror>
                                        </div>
                                </kendo-floatinglabel>
                            </div>
                            <div class="input-form">
                                <kendo-floatinglabel text="Enter Password">
                                    <input 
                                        required
                                        minlength="8"
                                        ngModel
                                        #passwordInput="ngModel"
                                        type="password" 
                                        name="password" 
                                    />
                                    <div *ngIf="passwordInput.touched && !passwordInput.valid">
                                        <kendo-formerror *ngIf="passwordInput.errors.required">Password is requred.</kendo-formerror>
                                        <kendo-formerror *ngIf="passwordInput.errors.minlength">Password must be more than 8 characters.</kendo-formerror>
                                    </div>
                                    <div *ngIf="passwordInput.touched">
                                        <kendo-formerror *ngIf="!validatePasswords">Passwords do not match!</kendo-formerror>
                                    </div>
                                </kendo-floatinglabel>
                            </div>
                            <div class="input-form">
                                <kendo-floatinglabel text="Confirm Password">
                                    <input 
                                        required
                                        ngModel
                                        #confirmPasswordInput="ngModel"
                                        type="password" 
                                        name="confirmPassword"
                                    />
                                    <div *ngIf="confirmPasswordInput.touched && !confirmPasswordInput.valid">
                                        <kendo-formerror *ngIf="confirmPasswordInput.errors.required">Password is requred.</kendo-formerror>
                                    </div>    
                                    <div *ngIf="confirmPasswordInput.touched">
                                        <kendo-formerror *ngIf="!validatePasswords">Passwords do not match!</kendo-formerror>
                                    </div>
                                </kendo-floatinglabel>
                            </div>
                            <div class="button-form">
                                <button kendoButton [primary]="true">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </kendo-card-body>
            <kendo-card-footer>
                <p>Already have an account? <a [routerLink]="['/']">Click here login.</a></p>
            </kendo-card-footer>
        </kendo-card>
    </div>
</div>