<div class="container">
    <div class="register-container">
        <kendo-card [width]="'300px'" class="k-vbox bg-light-dark">
            <kendo-card-header class="text-center">
                <h3>Login</h3>
            </kendo-card-header>
            <kendo-card-body>
                <div class="form-container">
                    <form #templateForm="ngForm">
                        <div class="input-container">
                            <div class="input-form">
                                <kendo-floatinglabel text="Enter Username">
                                    <kendo-textbox name="username" [(ngModel)]="username" [showSuccessIcon]="username.length >= 5"
                                        showErrorIcon="initial" required></kendo-textbox>
                                </kendo-floatinglabel>
                            </div>
                           
                            <div class="input-form">
                                <kendo-floatinglabel text="Enter Password">
                                    <kendo-textbox name="password" [(ngModel)]="password" [showSuccessIcon]="password.length >= 5"
                                        showErrorIcon="initial" required></kendo-textbox>
                                </kendo-floatinglabel>
                            </div>
                            
                            <div class="button-form">
                                <button (click)="onSubmit()" kendoButton [primary]="true">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </kendo-card-body>
            <kendo-card-footer>
                <p>Haven't got an account? <a [routerLink]="['/']">Register here.</a></p>
            </kendo-card-footer>
        </kendo-card>
    </div>
</div>