<div class="container">
    <div class="register-container">
        <kendo-card [width]="'300px'" class="k-vbox bg-light-dark">
            <kendo-card-header class="text-center">
                <h3>Login</h3>
            </kendo-card-header>
            <kendo-card-body>
                <div class="form-container">
                    <div class="alert alert-danger text-center" *ngIf="!isValid">
                        <p>Username or Password incorrect. Please try again.</p>
                    </div>
                    <form #templateForm="ngForm" (ngSubmit)="onSubmit(templateForm)">
                        <div class="input-container">
                            <div class="input-form">
                                <kendo-floatinglabel text="Enter Username">
                                <input 
                                    required 
                                    ngModel 
                                    #usernameInput="ngModel" 
                                    type="text"
                                    name="username"
                                />
                                <div *ngIf="usernameInput.touched && !usernameInput.valid">
                                    <kendo-formerror *ngIf="usernameInput.errors.required">Username is requred.</kendo-formerror>
                                </div>
                                </kendo-floatinglabel>
                                
                            </div>

                            <div class="input-form">
                                <kendo-floatinglabel text="Enter Password">
                                    <input 
                                        required
                                        ngModel
                                        #passwordInput="ngModel"
                                        type="password" 
                                        name="password" 
                                />
                                <div *ngIf="passwordInput.touched && !passwordInput.valid">
                                    <kendo-formerror *ngIf="passwordInput.errors.required">Password is requred.</kendo-formerror>
                                </div>
                                </kendo-floatinglabel>
                            </div>

                            <div class="button-form">
                                <button kendoButton [primary]="true">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </kendo-card-body>
            <kendo-card-footer>
                <p>Haven't got an account? <a [routerLink]="['/register']">Register here.</a></p>
            </kendo-card-footer>
        </kendo-card>
    </div>
</div>