<div class="container">
    <div *ngIf="!showGrid" class="station-form-container">
        <kendo-card [width]="'300px'" class="k-vbox bg-light-dark">
            <kendo-card-header class="text-center">
                <h3>Browse Stations</h3>
            </kendo-card-header>
            <kendo-card-body>
                <div class="form-container">
                    <form #templateForm="ngForm" (ngSubmit)="onSubmit(templateForm)">
                        <div class="input-container">
                            <div class="input-form">
                                <kendo-floatinglabel text="Choose a Region">
                                    <kendo-dropdownlist [data]="regions" textField="name" valueField="id"
                                        (selectionChange)="onRegionSelect($event)">
                                    </kendo-dropdownlist>
                                    <!-- <div *ngIf="usernameInput.touched && !usernameInput.valid">
                                            <kendo-formerror *ngIf="usernameInput.errors.required">Username is requred.</kendo-formerror>
                                            <kendo-formerror *ngIf="usernameInput.errors.minlength">Username must be more than 6 characters.</kendo-formerror>
                                        </div> -->
                                </kendo-floatinglabel>
                            </div>
                            <div class="input-form">
                                <kendo-floatinglabel text="Choose a City">
                                    <kendo-dropdownlist [data]="cities" textField="name" valueField="id"
                                        (selectionChange)="selectedCity = $event">
                                    </kendo-dropdownlist>
                                    <!-- <div *ngIf="nameInput.touched && !nameInput.valid">
                                            <kendo-formerror *ngIf="nameInput.errors.required">Name is requred.</kendo-formerror>
                                            <kendo-formerror *ngIf="nameInput.errors.minlength">Name must be more than 6 characters.</kendo-formerror>
                                        </div> -->
                                </kendo-floatinglabel>
                            </div>
                            <div class="input-form">
                                <kendo-floatinglabel text="Choose Year">
                                    <input required ngModel #year="ngModel" type="text" name="year" />
                                </kendo-floatinglabel>
                            </div>
                            <div class="input-form">
                                <kendo-floatinglabel text="Choose Month">
                                    <input required ngModel #month="ngModel" type="text" name="month" />
                                </kendo-floatinglabel>
                            </div>
                            <div class="checkbox-form">
                                <div class="checkbox-item">
                                    <label for="rain">Rain:</label>
                                    <input type="checkbox" name="rain" id="rain" kendoCheckBox
                                        [(ngModel)]="checkboxModel.rain">
                                </div>
                                <div class="checkbox-item">
                                    <label for="temperature">Temperature:</label>
                                    <input type="checkbox" name="temperature" id="temperature" kendoCheckBox
                                        [(ngModel)]="checkboxModel.temperature">
                                </div>
                                <div class="checkbox-item">
                                    <label for="stats">Stats:</label>
                                    <input type="checkbox" name="stats" id="stats" kendoCheckBox
                                        [(ngModel)]="checkboxModel.stats">
                                </div>
                            </div>
                            <div class="button-form">
                                <button kendoButton [primary]="true">Find station</button>
                            </div>
                        </div>
                    </form>
                </div>
            </kendo-card-body>
        </kendo-card>
    </div>
    <div *ngIf="showGrid" class="grid-station">
        <div class="stat-buttons">

        </div>
        <kendo-grid [data]="data" style="height: 450px; width: 1400px" [scrollable]="true">
            <button> <kendo-grid-column *ngIf="checkboxModel.temperature" field="stationDataId" title="Станция" width="80"></kendo-grid-column> </button>
            <kendo-grid-column *ngIf="checkboxModel.temperature" field="temperatureData.average" title="Tср" width="50"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.temperature" field="temperatureData.delta" title="Отклонение Т" width="115"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.temperature" field="temperatureData.max" title="Тмакс" width="65"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.temperature" field="temperatureData.dayMax" title="Дата" width="60"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.temperature" field="temperatureData.min" title="Tмин" width="60"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.temperature" field="temperatureData.dayMin" title="Дата" width="60"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.rain" field="rainData.total" title="Сума" width="60"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.rain" field="rainData.qQn" title="Q/Qn" width="60"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.rain" field="rainData.max" title="Максимален" width="100"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.rain" field="rainData.dayMax" title="Дата" width="60"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.stats" field="statisticsData.daysRainOver1mm" title="Валеж >= 1(дни)" width="130"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.stats" field="statisticsData.daysRainOver10mm" title="Валеж >= 10(дни)" width="130"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.stats" field="statisticsData.daysWindOver14ms" title="Вятър >= 14(дни)" width="130"></kendo-grid-column>
            <kendo-grid-column *ngIf="checkboxModel.stats" field="statisticsData.daysThunderbolts" title="Гръмотевици(дни)" width="130"></kendo-grid-column>
        </kendo-grid>
        <div class="back-button mt-3 text-right">
            <button kendoButton [primary]="true" (click)="searchAgain()">Search again</button>
        </div>
    </div>
</div>